{
  "parser": "babel-eslint",
  "rules": {
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "semi": ["error", "always"],
    "quotes": ["error", "double"],
    "no-param-reassign": ["error", { "props": false }]
  },
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "env": {
    "browser": true
  }
}