{
  "parser": "babel-eslint",
  "rules": {
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "semi": ["error", "always"],
    "quotes": ["error", "double"]
  },
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "globals": {
    "fetch": true
  }
}